.container {
  display: flex;
  align-items: center;
  justify-content: center; /* 水平居中 */
  margin-bottom: 24px;
}

.inputField {
  background-color: #2C2C2C; /* 输入框背景色，深灰色以与黑色背景更好融合 */
  color: #ffffff; /* 输入框文本颜色 */
}

.inputField label {
  color: #BB86FC; /* 标签颜色，保持一致性 */
}
.inputField .MuiSvgIcon-root {
  color: white; /* 修改图标颜色 */
}




.searchButton {
  height: 56px; /* 使按钮高度与输入框匹配 */
  background-color: #007bff;
  font-weight: 500; /* 加粗文本 */
  padding: 0 16px; /* 调整按钮内边距 */
  border-radius: 8px; /* 增加圆角 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 增加阴影效果 */
  transition: background-color 0.3s ease; /* 添加过渡效果 */
}

.searchButton:hover {
  background-color: #0056b3; /* 悬停时颜色加深 */
}

@media (max-width: 600px) {
  .container {
    flex-direction: column; /* 小屏幕下垂直排列 */
    align-items: stretch;
  }

  .inputField {
    margin-right: 0;
    margin-bottom: 16px; /* 小屏幕下的间距 */
  }

  .searchButton {
    width: 100%; /* 小屏幕下按钮全宽 */
  }
}
